<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/stylesheets/output.css">
</head>
<body class="flex flex-col min-h-screen">
    <div><%- include('partials/header') %></div>

    <div id="main" class="flex flex-col flex-1 justify-center items-center overflow-y-auto bg-black">
        <h1 class="text-yellow-500 text-4xl font-extrabold mb-4">ADD A PRODUCT</h1>
    <form class="flex flex-col border-4 border-yellow-500 p-4" action="/products/addProduct" method="post">
        <label class="text-yellow-500 text-lg" for="category">CHOOSE A CATEGORY:</label>
        <select class="mb-2" name="category_id" id="category_id">
            <option value="" selected disabled hidden>SELECT A CATEGORY</option>
            <% categories.forEach(category => { %>
            <option value="<%= category.id %>"><%= category.category_name %> </option>
          <%  }) %>
        </select>

        <label class="text-yellow-500 text-lg" for="product_name">Name: </label>
        <input class="mb-2 bg-black text-white border-2 rounded border-yellow-500" type="text" name="product_name" id="product_name" placeholder="Enter product name">

        <label class="text-yellow-500 text-lg" for="product_price">PRICE:</label>
        <input class="mb-2 bg-black text-white border-2 rounded border-yellow-500" type="number" name="product_price" id="product_price" placeholder="Enter product price">

        <button class="primary-btn" type="submit">ADD</button>
    </form>
    <%- include ('partials/errors.ejs') %>
    </div>
    
     <div><%- include('partials/footer') %></div>
</body>
</html>