<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>
<body  class="flex flex-col min-h-screen">
    <div><%- include('partials/header') %></div>

    <div id="main" class="flex flex-col flex-1  overflow-y-auto bg-black">
        <div class="flex m-4">
            <p class="text-yellow-500 text-4xl font-extrabold pr-4">OUR SETS</p>
            <button class="primary-btn" onclick="window.location.href='/categories/createCategory'">ADD CATEGORY</button>
        </div>
        
   
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-4 " >
           <% categories.forEach(category=>{ %>
             
                <div class="border-4 border-yellow-500 p-4 rounded">
                    <img src="<%= category.category_image %>" alt="<%= category.category_name%>" class="h-64 w-full object-contain rounded">
                    <div class="flex flex-col items-center">
                    <p class="text-yellow-500 text-lg m-2" ><%= category.category_name %></p>
                    <div class="flex">
                    <button class="primary-btn mr-2" onclick="window.location.href = 'categories/<%= category.id %>/updateCategory' ">EDIT</button>
                    <button class="primary-btn" onclick="window.location.href = 'categories/<%= category.id %>/deleteCategory' ">DELETE</button>
                    </div>
                    </div>
                </div>
             
           <% }) %>
        
    </div>
    </div>
    
    <div><%- include('partials/footer') %></div>
</body>
</html>