<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><%- include('partials/header') %></div>
    <div><p>OUR SETS</p></div>
    <button onclick="window.location.href='/categories/createCategory'">ADD CATEGORY</button>
    <div>
        <ul>
           <% categories.forEach(category=>{ %>
             <li>
                <div>
                    <img src="<%= category.category_image %>" alt="<%= category.category_name%>">
                    <p><%= category.category_name %></p>
                    <button onclick="window.location.href = 'categories/<%= category.id %>/updateCategory' ">EDIT CATEGORY</button>
                    <button onclick="window.location.href = 'categories/<%= category.id %>/deleteCategory' ">DELETE CATEGORY</button>
                </div>
             </li>
           <% }) %>
        </ul>
    </div>
    <div><%- include('partials/footer') %></div>
</body>
</html>